.root {
	composes: button from global;
}

.root--high {
	composes: button--high from global;
	composes: root;
}

.root--low {
	composes: button--low from global;
	composes: root;
}

.root--normal {
	composes: button--normal from global;
	composes: root;
}

.content {
	composes: button-content from global;
}

.icon {
	composes: button-icon from global;
}
