.header {
	composes: bg-neutral-200 from global;
	composes: h-9 from global;
	composes: w-full from global;
}

.switcher {
	composes: container from global;
	composes: mx-auto from global;
}

.body {
	composes: bg-neutral-100 from global;
	composes: h-20 from global;
	composes: w-full from global;
}

.nav {
	composes: container from global;
	composes: grid from global;
	composes: h-20 from global;
	composes: items-center from global;
	composes: mx-auto from global;
	composes: px-lg from global;
}
