.switcher {
    composes: bg-neutral-200 from global;
    composes: h-9 from global;
}

.header {
    composes: bg-neutral-100 from global;
    composes: h-20 from global;
    composes: w-full from global;
}
